.dog-2 {
    display: flex;
    gap: 50px;
}

@media (max-width: 767px) {
    .dog-2 {
        flex-direction: column;
    }
}

.right-2 {
    flex-direction: column;
    justify-content: center;
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

.right-2 h2 {
    font-family: 'Poor Story', cursive;
    font-weight: 400;
    font-size: 40px;
}

.left-2 img {
    width: 600px;
}

@media (max-width: 767px) {
    .left-2 img {
        width: 100%;
    }
}