.section-5 {
    background: linear-gradient(180deg, #F6FFFD 0%, rgba(251, 251, 251, 0) 100%);
}

.guy-dog {
    display: flex;
    gap: 50px;
}

@media (max-width: 767px) {
    .guy-dog {
        flex-direction: column-reverse;
    }
}

.left-3 {
    flex-direction: column;
    justify-content: center;
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

.left-3 h2 {
    font-family: 'Poor Story', cursive;
    font-weight: 400;
    font-size: 40px;
}

.right-3 img {
    height: 500px;
}

@media (max-width: 767px) {
    .right-3 img {
        height: unset;
        width: 100%;
    }
}