@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&family=Indie+Flower&family=Kanit:wght@300;400&family=Poor+Story&display=swap');

@import './header.css';
@import './section-1.css';
@import './section-2.css';
@import './section-3.css';
@import './section-4.css';
@import './section-5.css';
@import './section-6.css';
@import './footer.css';

/*FONTS
font-family: 'Dosis', sans-serif; -- smaller texts
font-family: 'Kanit', sans-serif; -- header
font-family: 'Poor Story', cursive; -- sections */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*PAGE LATERAL ALIGNMENT */
.container {
    width: 100%;
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 15px;
}

[class^="section-"] {
    margin-top: 2rem;
}